body {
  width: 400px;
  height: 550px;
  padding: 0 8px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  display: none;
  flex-flow: column nowrap;
}

.header {
  width: 100%;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: 1px solid #bdbdbd;
}

.item {
  display: flex;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid rgb(237, 237, 237);
  box-shadow: rgb(224, 224, 224) 0px 2px 8px 0px;
}

.item img {
  bottom: 10px;
  position: relative;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(21, 207, 179, 0.15);
}

.item:hover .divider {
  border-color: #fff;
}

.mealNumBox {
  z-index: 8;
  height: 76px;
  overflow: visible;
  padding-bottom: 2px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 300;
  color: rgb(38, 38, 39);
  text-align: center;
  line-height: 1;
  padding-top: 12px;
  border-top: 2px solid rgb(38, 38, 39);
  border-radius: 8px 0px 0px;
  border-right: 2px solid rgb(38, 38, 39);
  border-left: 2px solid rgb(38, 38, 39);
  width: 91px;
  left: 0px;
}

.info-box {
  flex: 1;
  display: flex;
  font-size: 14px;
  text-align: left;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.money {
  padding-left: 12px;
  font-weight: bold;
}

.divider {
  height: 1px;
  width: 100%;
  border-top: 1px solid rgb(237, 237, 237);
}

.details {
  padding-left: 12px;
}

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;

  box-shadow: inset 0 0 0 2px rgb(237, 237, 237);
  font-size: inherit;
  font-weight: 700;

  position: relative;
  vertical-align: middle;
}

button::before {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

button.toggle {
  transition: color 0.25s;
}
button.toggle::before,
button.toggle::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
button.toggle::before {
  top: 0;
  left: 0;
}
button.toggle::after {
  bottom: 0;
  right: 0;
}
button.toggle:hover {
  color: rgba(21, 207, 179);
}
button.toggle:hover::before,
button.toggle:hover::after {
  width: 100%;
  height: 100%;
}
button.toggle:hover::before {
  border-top-color: rgba(21, 207, 179, 0.75);
  border-right-color: rgba(21, 207, 179, 0.75);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
button.toggle:hover::after {
  border-bottom-color: rgba(21, 207, 179, 0.75);
  border-left-color: rgba(21, 207, 179, 0.75);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}
